@model List<ClienteModel>
@{
	ViewData["Title"] = "Clientes";
}
<h3>Clientes</h3>
<table class="table table-hover">
<a class="btn btn-success" asp-controller="Cliente" asp-action="Criar">Novo</a>
  <thead>
	<tr>
	  <th scope="col">Nome</th>
	  <th scope="col">CPF</th>
	  <th scope="col">Data Nascimento</th>
	  <th scope="col">Email</th>
	  <th scope="col">Fone/Celular</th>
	  <th></th>
	</tr>
  </thead>
  <tbody>
		@if (Model != null && Model.Any())
		{

			foreach (ClienteModel cliente in Model)
			{
					<tr>
					  <td>@cliente.Nome</td>
					  <td>@cliente.Cpf</td>
					<td>@cliente.DataNascimento.ToString("dd/MM/yyyy")</td>
					  <td>@cliente.Email</td>
					  <td>@cliente.Telefone</td>
					  <td>	<div class="btn-group" role="group" aria-label="Basic outlined example">
							<a role="button" class="btn btn-outline-success" asp-route-id="@cliente.Id" asp-controller="Cliente" asp-action="Editar">Editar</a>
											<a role="button" class="btn btn-outline-danger" asp-controller="Cliente" asp-action="ApagarConfirmacao" asp-route-id="@cliente.Id" >Apagar</a>
							</div>
					  </td>
					</tr>
			}
		}
	</tbody>
</table>